/* Keeping HTML selectors together */
body{
    font-family: 'Montserrat';
    font-weight: 500;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15% 5%;

}




/* Navigation Bar */

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

.navbar {
    padding: 0 0 4.5rem;
}

/* Download buttons */

.dwnldbtn{
    margin: 10% 3% 10% 0;
}

/* title image */

.iphone {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

/* features */

#features {
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position: relative;
}

.icon {
    font-size: 70px;
    padding-bottom: 14px;
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}



.feature-column {
    padding: 40px;
}



/* testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}



.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.sponsor-img {
    width: 15%;
    margin: 20px 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}


/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}


.pricing-column {
    padding: 3% 2%;
}


@media (max-width: 1037px) {

    #title {
        text-align: center;
    }
    .iphone{
        position: static;
        transform: rotate(0);
    }
}


/* cta */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15% 3%;
}

.cta_heading {
    font-size: 3.5rem;
    color: #fff;
    line-height: 1.5;
}

.dwnldbtn2 {
    font-size: 1.5rem;
    margin: 7% 3% 10% 0;
}

/* footer */

#footer {
    text-align: center;
    padding: 5%;
}

.socialbtn {
    padding: 10px;
}

.copyright {
    padding: 2%;
}
